.header-main{
  display: flex;
  padding: 40px 50px ;
  align-items: center;
  justify-content: space-between;
  background-color: #F8F8F8;
}

.list{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.list>li{
  margin-right: 50px;
}

a{
  text-decoration: none;
  color: black;
}

img{
  width: 100%;
}

.image-container{
  width: 140px;

}
.logout-button{
  background-color: #040015;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s all;
}

.logout-button:hover{
  background-color: #4f4f4f;
  
}