.main-propsect-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.tool-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 20px;
  width: 100%;
  padding: 50px 0;

}
.create-button{
  padding: 10px 20px;
  background-color: #113939;
  border-radius: 20px;
  border: 0;
  transition: .3s all;

}
.create-button:hover{
  background-color: #1b5757;


}
.create-button a, .prospect-button a{
  color: white;
  font-size: .8rem;
  font-weight: 100;

}
.main-propsect-container h1{
  font-size: 1.7rem;


}

.prospects-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  padding: 50px 60px;
  border-radius: 10px;
  background-color: #fffafa;
}


.prospect-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px; 
  margin: 15px 0;
  background-color: #ebe8e8;
  width: 95%;
  border-radius: 7px;
}

.prospect-button{
  padding: 7px 10px;
  background-color: #113939;
  border-radius: 20px;
  border: 0;
  transition: .3s all;

}

.prospect-button:hover{
  background-color: #1b5757;
}

.delete-button{
  padding: 7px 20px;
  background-color: #FF1F00;
  border-radius: 20px;
  border: 0;
  transition: .3s all;
  cursor: pointer;

}

.delete-button:hover{

  background-color: #f44d37;
  

}


.button-container{
  display: flex;
  justify-content: space-around;
  width: 20%;
}


.create-button-container{
  display: flex;
  justify-content: left;
  width: 95%;
  margin: 10px 0;
}

.prospects-buttons-container {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
  align-items: center;
  justify-content: left;
  width: 100%; /* Ajustar el ancho según necesites */
  margin: 10px 0;
}

.create-button-container,
.admin-button-container,
.generate-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.generate-button-container{
  display: flex;
  justify-content: right;
  width: 95%;
  margin: 10px 0;
}

.generate-button {
  display: flex;
  align-items: center; /* Alinear verticalmente el contenido */
  justify-content: center; /* Alinear horizontalmente */
  padding: 10px 20px;
  background-color: #113939;
  border-radius: 20px;
  border: 0;
  transition: .3s all;
  color: white;
  font-size: .8rem;
  font-weight: 100;
}

.generate-button:hover {
  background-color: #1b5757;
}

.generate-button .icon {
  margin-right: 8px; /* Espacio entre el ícono y el texto */
}
.admin-button-container {
  display: flex;
  justify-content: left;
  width: 95%;
  margin: 10px 0;
}

.admin-button {
  padding: 10px 20px;
  background-color: #113939;
  border-radius: 20px;
  border: 0;
  transition: .3s all;
  color: white;
  font-size: .8rem;
  font-weight: 100;
  cursor: pointer;
}

.admin-button:hover {
  background-color: #1b5757;
}

.admin-button a {
  color: white;
  font-size: .8rem;
  font-weight: 100;
  text-decoration: none; /* Eliminar subrayado si es un enlace */
}
